body 
    background-color: white
    padding-left: 10px !important
     


.gridContainer
   
    width: 200px
    height: 270px
    display: flex
    align-content: center
    justify-content: center

    // border: 1px solid black 
    // box-shadow: 10px 10px 5px grey
    // background-color: #ededed
    text-align: center

    .ImageCountainer
        text-align: center
        position: relative
        width: 150px
        height: 170px
        left: 50%
        transform: translateX(-50%)

        .circularImage    
            margin: auto
            margin-top: 10px
            position: absolute
            width: 150px
            height: 150px
            background-size: cover
            display: block
            border-radius: 100px
            border: 3px solid #ccc
            cursor: pointer

        .circularFacebook
            left: 96px
            bottom: 0px
            position: absolute
            margin: 3px
            width: 60px
            height: auto
            z-index: 1
            background-size: cover
            display: block

    .name
        display: inline-block
        margin-top: 0px    
        margin-left: 0px
        word-wrap: break-word
        align-self: center
        
        
        
    .position
        margin-top: 0px
        margin-left: 0px
        color: #4061ce    
        

.modalContainer

    height: 80% !important
    display: inline-block
    display: flex
    flex-direction: row
    justify-content: space-around
    border-bottom: 1px solid rgb(180,187,200)


    .ImageModalCountainer

        text-align: center
        position: relative
        width: 150px
        height: 170px
        display: inline-block
        float: left
        

        .circularModalImage

            margin: auto
            position: absolute
            width: 150px
            height: 150px
            background-size: cover
            display: block
            border-radius: 100px
            border: 3px solid #ccc
        

    .nameModal
        margin-left: 28px
        margin-top: 28px
        text-align: center
        display: inline-block
        word-wrap: break-word

.Hobbies
    text-align: center
    border-bottom: 1px solid rgb(180,187,200)

.Education
    text-align: center
    border-bottom: 1px solid rgb(180,187,200)

.JobDescription
    text-align: center