.create-question
    padding: 50px
    .tag-question
        margin: 60px
        display: flex
        .right-part
            flex: 1
            width: 80%
        .left-part
            flex: 2
            .canvas-block
                position: relative
                cursor: crosshair
                width: 600px
                height: 300px
                canvas
                    position: absolute
                    top: 0
                    left: 0
                .pic-canvas
                    z-index: 5
                .tag-canvas
                    z-index: 10
